{
  "branches": [
    "main",
    {"name": "release/v0.1.0", "prerelease": false}
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/github", {
      "assets": [
        {"path": "release-assets/bts-map-*.tar.gz", "label": "bts-map binary ({filename})"}
      ]
    }]
  ]
}
